/* Split the screen in half */
.selectFish{
          font-size: 20px;
}
.split1 {
 height: 100%;
 width: 70%;
 position: fixed;
 z-index: 1;
 top: 0;
 overflow-x: hidden;
 padding-top: 20px;
}

        
        .send.selected {
          background: #00c09e;
          cursor: pointer;
        }
.send{
          height: 45px;
	  width: 157px;
          margin: 0 7px;
          padding: 5px 0;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 2px;
          color: #fff;
          border: 0;
          border-radius: 2px;
          text-transform: uppercase;
          outline: 0;
}
.split2 {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
 }
/* Control the left side */
.left {
 left: 0;
 background-color: white;
}

/* Control the right side */
.right {
 right: 0;
 background-color: grey;
}

/* If you want the content centered horizontally and vertically */
.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
 width: 150px;
 border-radius: 50%;
} 

.fish {
  height: 70px;
  font-size:12px;
	display: inline;
          margin: 30px;
          width: 157px;
	  border: 10px;
float: left;

}
.fishImg{
	max-width:100%;
	max-height:100%;
}
.fishList{
position: relative;
          margin: 50px auto;
          width: 710px;
          padding: 0;
          list-style: none;
          text-align: center;
          text-transform: uppercase;
          font-weight: 900;
          color: #555;
}
.threatened {
  box-shadow: 0 0 0 4px red;
}


.endangered {
  box-shadow: 0 0 0 4px red;
}
.normal{
  box-shadow: 0 0 0 4px #00c09e;
}
.rowFish{
	
}
